.vscode
jgproject
src/passes/Vectorization/Makefile
/src/passes/hw-vectorization/build/
src/chimera_testing/
src/passes/hw-vectorization/vectorizeds
src/passes/hw-vectorization/vectorized_files
src/passes/hw-vectorization/vectorized_results
vectorized_tests
results.csv
scripts
.venv
*.so
*.o
*.mlir

# Test files
src/passes/hw-vectorization/resultados
src/passes/hw-vectorization/check.py
src/passes/hw-vectorization/comparar_designs.py
src/passes/hw-vectorization/designs_equivalentes.txt
src/passes/hw-vectorization/designs_not_equivalentes_novo.txt
src/passes/hw-vectorization/designs_vetorizados.txt
src/passes/hw-vectorization/equivalence_check_jasper.tcl
src/passes/hw-vectorization/equivalent_true_files_v2.txt
src/passes/hw-vectorization/equivalent_true_files_v2.txt
src/passes/hw-vectorization/faltando_tempos.txt
src/passes/hw-vectorization/measure.sh
src/passes/hw-vectorization/non_equivalent_vectorized_files.txt
src/passes/hw-vectorization/non_equivalent_vectorized_files.txt
src/passes/hw-vectorization/resultados_tempos_novo.csv
src/passes/hw-vectorization/resultados_tempos.csv
src/passes/hw-vectorization/results.csv
src/passes/hw-vectorization/run_batch_vectorization.sh
src/passes/hw-vectorization/run_batch.sh
src/passes/hw-vectorization/run_chibench.sh
src/passes/hw-vectorization/run_chimera.sh
src/passes/hw-vectorization/run_jasper.tcl
src/passes/hw-vectorization/run_missing_vectorizations.sh
src/passes/hw-vectorization/run_vectorization_times.sh
src/passes/hw-vectorization/test_always.v
/src/passes/hw-vectorization/vectorization_results.csv
/src/passes/hw-vectorization/vectorization_times.csv
/src/passes/hw-vectorization/vectorization_with_counts.txt
src/passes/hw-vectorization/vetorizacao_results_1-10000_old.csv
src/passes/hw-vectorization/vetorizacao_results_1-10000.csv
src/passes/hw-vectorization/vetorizacao_results_10001-20000.csv
src/passes/hw-vectorization/vetorizacao_results_20001-30000.csv
src/passes/hw-vectorization/vetorizacao_results_30001-40000.csv
src/passes/hw-vectorization/vetorizacao_results_40001-50000.csv
src/passes/hw-vectorization/vetorizacao_results_50001-60000.csv
src/passes/hw-vectorization/get-vec-results.py
src/passes/hw-vectorization/process_all.sh
src/passes/hw-vectorization/results_vectorization.csv
src/passes/hw-vectorization/results_without_inline.csv